main.works{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 50px 50px 50px;

  section.banner{
    display: flex;
    width: 96%;
    border-bottom: 1px solid #FFBD59;
    padding: 30px 50px 30px 50px;
    justify-content: center;

    h2{
      color: white;
      font-size: 30px;
      padding: 10px;
    }
  }
  section.container{
    width: 96%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 250px;
    gap: 3%;

    section.card{
      display: flex;
      width: 100%;
      height: 350px;
      align-items: flex-end;
      background: lightgray;
      position: relative;
      border-radius: 20px;

      & > img {
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        transition: all 1s ease;
        border-radius: 20px;

        &.open-zaap, &.light-zaap, &.light-zaap-aura {
          opacity: 0;
        }

        &.light-zaap {
          width: 30vw;
          bottom: 15vh;
        }

        &.light-zaap-aura {
          width: 60vw;
          top: 5vh;
        }
      }

      &:hover {
        & > img.default-zaap {
          opacity: 0;
        }

        & > img.open-zaap, img.light-zaap, img.light-zaap-aura, a.btn-img {
          opacity: 1;
        }

        a.btn-img {
          transform: translateY(30vh);

          &:hover {
            transform: translateY(30vh) scale(1.1, 1.1);
          }
        }

        & > img.light-zaap {
          animation: infiniteLoop 15s linear infinite;
        }
      }
      div{
        display: flex
      }
      div.infoCard{
        align-items: end;
        justify-content: space-between;
        width: 100%;
        height: 35px;
        position: absolute;
        padding: 15px;

        h3{
          font-size: 20px;
          width: 50%;
          color: white;
        }

        div.imgIcone{
          width: 50%;
          height: 30px;
          z-index: 1000;
          justify-content: flex-end;
          gap: 1rem;
          align-items: center;

          svg{
            width: auto;
            height: 100%;
            color: white;
          }
        }
      }
    }
  }
}